QTabBar::tab:selected, QTabBar::tab:hover {
  background: #99FF99;
}
QTabBar::tab:selected {
  border: 2px solid; 
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-color: #33FF33;
  /* border-bottom-color: #C2C7CB; */ /* same as pane color */
}
